<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

<div>

	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="">

				<div class="row">

					<div class="col-lg-6 col-md-6 col-sm-6" style="height:630.6px;overflow-y:auto;">
						<div class="pozo pozo-sm">
							<h4>Indicadores
								<button [disabled]="!changes" class="btn-style btn btn-success" data-toggle="modal" type="button" data-target="#modalConfirm"
								 style="float:right; height:30px;">Actualizar</button></h4>
						</div>
						<div class="row" style="padding:8px">
							<div class="col-lg-8 col-md-8 col-sm-8">
								<table class="table table-style">
									<tr>
										<th>Indicador</th>
										<th>Clave</th>
										<th colSpan="2">
											<a class="center" (click)="addIndicador()">
												<!-- Agregar --><i style="margin-right: 5px" class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
											</a>
										</th>
										
									</tr>
									<tr *ngFor="let indicador of keywords; let n = index">
										<td><input type="text" class="form-control" (blur)="indicador.nombre=$event.target.value;" placeholder="Nombre Indicador"
											 [(value)]="indicador.nombre" [disabled]="!editableArray[n]" /></td>
										<td><input type="text" class="form-control" (blur)="indicador.acronimo=$event.target.value;" placeholder="Acronimo"
											 [(value)]="indicador.acronimo" [disabled]="!editableArray[n]" />
										</td>
										<td>
											<a (click)="editIndicador(indicador,n)" style="float: right">
												<!-- BOTON EDITAR  --><i style="margin-right: 5px" class="fa fa-pencil fa-lg" aria-hidden="true"></i>
											</a>
										</td>
										<td>
											<a (click)="deleteConfirm(indicador.id,n)"><i style="margin-right: 5px" class="fa fa-times fa-lg" aria-hidden="true" data-toggle="modal" data-target="#modalConfirm"></i></a>
										</td>
									</tr>


								</table>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4">


								<table class="table table-style">
									<tr>
										<th>Terminos
										</th>
										<th>
											<a (click)="addClave()" [hidden]="!changes">
												<!-- Agregar --><i style="margin-right: 5px" class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
											</a>
										</th>
									</tr>
									<tr *ngFor="let clave of keywordDetail.clave; let i = index">
										<td><input type="text" class="form-control" placeholder="Palabras clave" [value]="clave" (blur)="keywordDetail.clave[i]=$event.target.value"
											/>
										</td>

										<td><a (click)="deleteClave(i)"><i style="margin-right: 5px" class="fa fa-times fa-lg"
											aria-hidden="true"></i></a></td>
									</tr>


								</table>

							</div>

						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">
						<!-- EXTRACCIONES -->
						<div class="div-well">
							<div class="pozo pozo-sm">
								<h4>Extractores

									<div class="col-md-4" style="float: right">
										<my-date-picker placeholder="Fecha de ejecución" [(options)]="optionsFecha" (dateChanged)="onDateChanged($event)" required></my-date-picker>
									</div>

								</h4>


							</div>

							<div class="row" style="padding:10px;">
								<div class="col-lg-12 col-md-12 col-sm-12" style="height:182.267px;overflow-y:auto;">
									<table class="table table-style">
										<tr>
											<th>Fuente</th>
											<th>Status</th>
											<th>Ultima Ejecución</th>
											<th>Tipo de extractor</th>

										</tr>
										<tr *ngFor="let record of logger">
											<td>{{record.fuente | caps}}</td>
											<td>{{record.status}}</td>
											<td>{{record.ultimaEjecucion | unixTimeStamp}}</td>
											<td>{{record.tipoExtraccion}}</td>
										</tr>


									</table>
								</div>



							</div>
						</div>

						<div class="div-well" style="height:350px;overflow-y:auto;">
							<div class="div-well">
								<div class="pozo pozo-sm">
									<h4>General</h4>
								</div>
								<form style="padding: 10px;">

									<p style="font-weight: bold">Solr</p>

									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6">

											<div class="form-group">
												<label>Host</label>
												<input type="text" class="form-control" name="" placeholder="Host" />
											</div>

											 

										</div>
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<label>Puerto</label>
												<input type="text" class="form-control" name="" placeholder="Puerto" />
											</div>
										</div>

									</div>

									<p style="font-weight: bold">Mail</p>
									<div class="row">

										<div class="col-lg-6 col-md-6 col-sm-6">
											<label>Nombre de usuario</label>
											<div class="form-group">
												<input type="text" class="form-control" name="" placeholder="Nombre de usuario" />
											</div>

											<div class="form-group">
												<label>Host</label>
												<input type="text" class="form-control" name="" placeholder="Host" />
											</div>

										</div>

										<div class="col-lg-6 col-md-6 col-sm-6">

											<div class="form-group">
												<label>Contraseña</label>
												<input type="password" class="form-control" name="" placeholder="Contraseña" />
											</div>
											<div class="form-group">
												<label>Puerto</label>
												<input type="text" class="form-control" name="" placeholder="Puerto" />
											</div>

										</div>
										<div class="col-lg-12 col-md-12 col-sm-12">
											<div class="form-group" class="form-style">
												<label>email</label>
												<input type="email" class="form-control" id="email" placeholder="Correo Electrónico">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>

					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="div-well">
							<div class="pozo pozo-sm">
								<h4>Log</h4>


							</div>
							<div class="container" style="overflow-x:hidden;overflow-y: scroll;max-height: 200px; padding:5px;margin:5px;">
								<div class="row" style="padding:5px;font-weight:bold;">
									<div class="col-md-2">
										<h5>Hora Local</h5>
									</div>
									<div class="col-md-1">
										<h5>Nivel</h5>
									</div>
									<div class="col-md-1">
										<h5>Core</h5>
									</div>
									<div class="col-md-2">
										<h5>fuente</h5>
									</div>
									<div class="col-md-1">
										<h5>Logger</h5>
									</div>
									<div class="col-md-5">
										<h5>Mensaje</h5>
									</div>
								</div>
								<!--Angular  -->

								<div class="row" *ngFor="let record of logger" style="padding:5px;margin:5px;" 		[ngClass]="logEstilo(record.nivel)">

							<a	data-toggle="modal" data-target="#modalLogger" (click)="getLog(record.fuente)">

									<div class="col-md-2">
										<p>{{record.ultimaEjecucion | unixTimeStamp}}</p>

									</div>
									<div class="col-md-1">
										<p>{{record.nivel}}</p>
									</div>
									<div class="col-md-1">
										<p>{{record.core}}</p>
									</div>
									<div class="col-md-2">
										<p>{{record.fuente | caps}}</p>
									</div>
									<div class="col-md-1">
										<p>{{record.logger}}</p>
									</div>
									<div class="col-md-5">
										<p>{{record.mensaje}}</p>
									</div>
							</a>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<!-- Modal -->
<div class="modal fade" id="modalConfirm" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-body" style="background-color: #e3e3e3; border-radius: 10px;">
				<p style="text-align: center">Seguro de que quieres realizar cambios?
				</p>
				<div class="center">
					<button (click)="saveConfig()" type="button" class="btn-style btn btn-success" style="border-radius:15px" data-dismiss="modal"
					 style="margin-right:10px">
						Si</button>
					<button (click)="clearSelect()" type="button" class="btn-style btn btn-success" style="border-radius:15px" data-dismiss="modal">No</button>
				</div>
			</div>

		</div>

	</div>
</div>


<!-- Modal Logger-->
<div class="modal fade" id="modalLogger" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-body" style="background-color: #e3e3e3; border-radius: 10px;">
				<p style="text-align: center">
				</p>
				<div class="container">
				
					<span style="white-space:pre-wrap;">{{logText}}</span>
				</div>
				<div class="center">
				 
					<button type="button" class="btn-style btn btn-success" style="border-radius:15px" data-dismiss="modal">Salir</button>
				</div>
			</div>

		</div>

	</div>
</div>