<div class="container body">
	<div class="main_container">
		<!-- left navigation -->
		<div class="col-md-3 left_col" style="width:130px" set-height  *ngIf="hideNavBar()">

			<div class="left_col scroll-view" style="width:130px">

				<div class="navbar nav_title" style="border: 0;width:130px">

					<span> <img
							src="./resources/img/pueblos-logo.png"
							style="margin-bottom: 20px; margin-top: 20px; height: 72px; width: 72px; margin-left: auto; display: block; margin-right: auto;"
							class="img-responsive" id="imgLogo"> 
						</span> <span class="hide text-center" id="logoText">SECTUR</span>


				</div>
				<div class="clearfix"></div>


				<br /> <br />
				<!-- sidebar menu -->
				<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

					<div class="menu_section" style="margin-top: 15px">
						<h3></h3>
						<ul class="nav side-menu">

							<li><a [routerLink]="['/inicio']"><i class="fa fa-home fa-lg"></i>
										Inicio</a></li>
							<li><a [routerLink]="['/indicadores']"><i
										class="fa fa-tachometer fa-lg"></i> Indicadores</a></li>
							<li><a><i class="fa fa-map-marker fa-lg"></i>
										Localidades</a>

								<ul class="nav child_menu">

									<li><a (click)="irALocalidades();"> Indicadores </a></li>
									<li><a (click)="irAServicios();"> Servicios </a></li>
									<li><a (click)="irAVisitantes()"> Visitantes </a></li>
									<li><a (click)="irAComentarios()"> Comentarios </a></li>
									<li><a (click)="irAReporte()"> Reporte </a></li>


								</ul>
							</li>


						</ul>
					</div>
				</div>


				<!-- /sidebar menu -->
			</div>
		</div>
		<!-- /left navigation -->

		<!-- top navigation -->
		<div class="top_nav"  *ngIf="hideNavBar()">

			<div class="nav_menu">
				<nav class="" role="navigation">


					<ul class="nav navbar-nav navbar-right">

						<li>
							<div class="profile" style="bottom:0px; position: relative;">
								<div class="profile_pic">
									<img src="./resources/img/user.png" alt="..." class="img-circle profile_img" style="width:50px;height:50px">
								</div>
								<div class="profile_info">


									<a href="/secturv2/logout" style="margin-top: 0px; color: black">
										<i class="fa fa-sign-out"></i> Cerrar sesión
									</a>
								</div>
							</div>
						</li>

						<li>
							<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="margin-top: 15px; margin-right: 10px"><i class="fa  fa-chevron-left fa-2x" aria-hidden="true" style="padding-right: 2px;"></i><i class="fa  fa-cogs fa-2x"
								 aria-hidden="true" style="padding-right: 2px;"></i> </a>
							<ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">

								<li><a [routerLink]="['/config/configuracion']">Configuración</a></li>
								<li><a [routerLink]="['/config/usuarios']">Usuarios</a></li>
								<li><a [routerLink]="['/config/aplicacion']">Aplicación</a></li>
								<li><a href="./logout"><i
											class="fa fa-sign-out pull-right"></i> Cerrar sesión</a></li>
							</ul>
						</li>

						<li><img   src="./resources/img/sectur_logo.png" class="img-responsive" id="imgLogo" style="margin-right: 20px;"></li>
						<li style="float:left">
							<div style="margin:30px 30px" [hidden]="hideSearchBar()">
								<select title="Buscador de Destinos"  data-live-search="true" [(ngModel)]="selectedId" >
										<option  *ngFor="let d of destinos | orderBy" [ngValue]="d.id">{{getName(d)}}</option>
									 
										</select>
								<button class="btn btn-success btn-xs" style="margin-top:-3px" type="button" (click)="irADetalle(selectedId);"> 
											<i aria-hidden="true" class="fa fa-arrow-circle-right fa-lg"></i></button>
								<img src="./resources/img/spinner.gif" [hidden]="!loading">
							</div>
						</li>
					</ul>
				</nav>
			</div>

		</div>
		<!-- /top navigation -->

		<!-- page content  -->
		<div [ngClass]="getClass()" role="main">

			<router-outlet ></router-outlet>

		</div>
		<!-- /page content -->
	</div>
</div>