<div>

	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="">



				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="div-well">
							<div class="pozo pozo-sm">

								<h4>
									<i style="margin-right: 5px" class="fa  fa-download  fa-lg" aria-hidden="true"></i>Todos los comentarios
								</h4>

							</div>

							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6">

									<div class="form-group has-feedback" style="margin-left:15px">
										<button class="btn btn-success btn-sm" type="button" type="text" data-toggle="modal" data-target="#modalFilter">Filtrar 
											<i class="fa fa-filter  fa-lg" aria-hidden="true"></i>
									</button>




									</div>

								</div>

								<div class="col-lg-6 col-md-6 col-sm-6">
									<div style="float:right;margin-right:15px">

										<!-- boton nuevos comentarios-->
										<button (click)="changeFilter('comment_new');" class="btn btn-success btn-sm" type="button" type="text" data-toggle="tooltip"
										 title="Ver Comentarios Nuevos"> 
												<i aria-hidden="true" class="fa fa-newspaper-o  fa-lg" style="margin-right: 5px"></i>
									</button>
										<!-- boton ver favoritos-->
										<button (click)="changeFilter('fav');" class="btn btn-success btn-sm" type="button" type="text" data-toggle="tooltip" title="Ver Favoritos"> 
												<i aria-hidden="true" class="fa fa-heart fa-lg" style="margin-right: 5px"></i>
									</button>
									</div>

								</div>
							</div>
							<!--  -->
							<div style="overflow-y: scroll; max-height: 350px;">
								<div class="comentario" *ngFor="let comment of comentarios   | appFilter:'source':selectedSource | appFilter:'sentimient':feels | appFilter:filter:active">
									<div (click)="showComentario(comment.id);setRead();" style="padding:10px;background-color:white">

										<p style="float:right;margin-left:3px">{{comment?.review | unixTimeStamp}} </p>
										
										<p style="display:inline;margin-right:10px"><i [ngClass]="getIconoFuente(comment.source)" aria-hidden="true"></i></p>
										
										{{truncate(comment.comment)}} 

									<div style="float:right">
										
									[
										
										<img *ngFor="let tag of comment.tags" [src]="getIcono(tag)" data-toggle="tooltip" [title]="setTooltip(tag)" style="background:#5cb85c; border-radius: 5px;height:35px;width:35px;margin:5px;display:inline;">										
										]


									</div>

										<div style="height:15px;width:15px;border-radius:5px;margin-top:10px;" [ngClass]="setCss(comment.sentimient)"></div>

									</div>

								</div>
							</div>


						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">

						<div class="div-well">
							<div class="pozo pozo-sm">

								<h4>
									&nbsp;

									<a (click)="setDeleted();" style=" float: right;margin-left:5px" class="btn btn-success btn-sm" data-toggle="tooltip" title="Elimar Comentario">
									<i  class="fa fa-trash fa-lg" aria-hidden="true"></i>
									</a>
									<a (click)="setFave();" style=" float: right;margin-left:5px" class="btn btn-success btn-sm" data-toggle="tooltip" title="Marcar como Favorito">
									<i  class="fa fa-heart fa-lg" aria-hidden="true"></i>
										</a>
									<a (click)="setPositive();" style=" float: right;margin-left:5px" class="btn btn-success btn-sm" data-toggle="tooltip" title="Cambiar a Positivo">
									<i  class="fa fa-smile-o fa-lg" aria-hidden="true"></i>
											</a>
									<a (click)="setNeutral();" style=" float: right;margin-left:5px" class="btn btn-success btn-sm" data-toggle="tooltip" title="Cambiar a Neutro">
									<i  class="fa fa-meh-o fa-lg" aria-hidden="true"></i>
									</a>
									<a (click)="setNegative();" style=" float: right;margin-left:5px" class="btn btn-success btn-sm" data-toggle="tooltip" title="Cambiar a Negativo">
									<i  class="fa fa-frown-o fa-lg" aria-hidden="true"></i>
									</a>
								</h4>

							</div>
							<div style="padding: 20px; max-height: 200px; min-height: 200px;background-color:white">


									<p style="float:right;margin-left:3px">{{selectComment?.review | unixTimeStamp}} </p>
										
										<p style="display:inline;margin-right:10px"><i [ngClass]="getIconoFuente(selectComment.source)" aria-hidden="true"></i></p>
										
										{{selectComment.comment}} 

									<div style="float:right">
										
									[
										
										<img *ngFor="let tag of selectComment.tags" [src]="getIcono(tag)" data-toggle="tooltip" [title]="setTooltip(tag)" style="background:#5cb85c; border-radius: 5px;height:35px;width:35px;margin:5px;display:inline;">										
										]


									</div>

										<div style="height:15px;width:15px;border-radius:5px;margin-top:10px" [ngClass]="setCss(selectComment.sentimient)"></div>

							 
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalFilter" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-body" style="background-color: #e3e3e3; border-radius: 10px;">
				<h4 style="text-align: center">Filtrar por:
				</h4>

				<div class="row">

					<div class="col-md-6">

						<my-date-picker name="mydate2" placeholder="Fecha inicial" [(options)]="optionsFechaInicial" (dateChanged)="onDateChanged($event,0)"
						 required></my-date-picker>
					</div>
					<div class="col-md-6">
						<my-date-picker name="mydate" placeholder="Fecha final" [(options)]="optionsFechaFinal" (dateChanged)="onDateChanged($event,1)"
						 required></my-date-picker>
					</div>
					<div class="col-md-12" style="margin:10px">
						<label class="radio-inline" *ngFor="let sent of sentimiento; let i=index">
					<input type="radio" name="optradio" [(ngModel)]="feels" value="{{i}}">{{sent}}
					</label></div>
					<div class="col-md-12" style="margin:10px">
						<div class="dropdown">Filtrar por fuentes:
							<button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"> {{selectedSource | caps}}
   							 <span class="caret"></span></button>
							<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
								<li *ngFor="let fuente of fuentes; let i=index"><a (click)="selectedSource=fuente;"><i  [ngClass]="iconos[i]" aria-hidden="true"></i>
	 							 {{fuente | caps}}
	 						 </a></li>

							</ul>
						</div>
					</div>
					<div class="col-md-12" style="margin:10px">
						<button type="button" class="btn btn-success" data-dismiss="modal" (click)="getCommentsDate();">Aceptar</button>
					</div>
				</div>

			</div>

		</div>

	</div>
</div>