<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<div class="row">
						<div class="col-md-6"></div>

						<div class="clearfix"></div>
					</div>
				</div>

				<div class="row">

					<div class="col-lg-5 col-md-5 col-sm-5" >
						<div class="div-well" style="height:1366.2px;overflow-y:auto;padding:10px">
							<!--Tipo localidad  -->
							<table class="table table-style">
								<tr>
									<th>Tipo de Localidad<a href="" style="float: right"><i class="fa fa-sort-desc" aria-hidden="true"></i></a>
									</th>
									<th>Eliminar </th>
									<th>
										<a (click)="addType('tipo destino')">
											<!-- Agregar --><i style="margin-right: 5px" class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
										</a>
									</th>
								</tr>
								<!--AngularJS  -->
								<tr *ngFor="let tipo of tipo_localidad; let n = index" >
									<td  *ngIf="n>0"><input type="text" class="form-control" name="" placeholder="Tipo de localidad" [value]="tipo" (blur)="modType(n, $event.target.value)"
										/></td>
									<td  *ngIf="n>0"><a (click)="deleteType(n)"><i style="margin-right: 5px" class="fa fa-times fa-lg"
											aria-hidden="true"></i></a></td>
								</tr>
							</table>
						<div><br></div>
							<!--Localidad  -->
							<table class="table table-style">
								<tr>
									<th>Localidad <a style="float: right"><i
											class="fa fa-sort-desc" aria-hidden="true"></i></a>
									</th>
									<th><a (click)="deleteConfirm()" data-toggle="modal" data-target="#modalConfirm">Eliminar</a></th>
									<th>
										<a (click)="agregarConfig()">
											<!-- Agregar --><i style="margin-right: 5px" class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
										</a>
									</th>
								</tr>
								<!--AngularJS  -->

								<tr *ngFor="let localidad of localidades| orderBy; let i = index">
									<td>
										<div (click)="editConfig(localidad)">
											<span *ngIf="localidad.localidad">{{localidad.localidad | uppercase}}</span>
											<span *ngIf="localidad.municipioNombre">{{localidad.municipioNombre | uppercase}}</span>


											<a style="float: right">
												<!-- BOTON EDITAR  --><i style="margin-right: 5px" class="fa fa-pencil fa-lg" aria-hidden="true"></i>
											</a>
										</div>
									</td>
									<td><input (click)="selectConfig(i)" type="checkbox"></td>
								</tr>
							</table>

						</div>
					</div>

					<div class="col-lg-7 col-md-7 col-sm-7 div-well">
						<div class="" style="padding:15px">

							<div class="form-group">
								<label>Estado</label>
								<input type="text" class="form-control"  [ngClass]="setCssColor()"  name="" [disabled]="!editionEnable" placeholder="Estado"
									[(ngModel)]="locationDetail.estadoNombre" />
							</div>

							<div class="form-group" *ngIf="locationDetail.tipoDestino==1 || locationDetail.tipoDestino==3">
								<label>Municipio</label>
								<input type="text" class="form-control" [ngClass]="setCssColor()" name="" [disabled]="!editionEnable" placeholder="Municipio"
									[(ngModel)]="locationDetail.municipioNombre" />
							</div>

							<div class="form-group" *ngIf="locationDetail.tipoDestino==2">
								<label>Localidad</label>
								<input type="text" class="form-control" [ngClass]="setCssColor()" [disabled]="!editionEnable" placeholder="Localidad" [(ngModel)]="locationDetail.localidad"
								/>
							</div>
							<div class="form-group">
								<div class="dropdown">
									<label>Tipo Destino</label>
									<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" [disabled]="!editionEnable">
									 
									{{tipo_localidad[(locationDetail.tipoDestino)]}}
									<span class="caret"></span></button>
									<ul class="dropdown-menu">
										<li *ngFor="let tipo of tipo_localidad; let n = index" ><a *ngIf="n>0" (click)="setType(n)">{{tipo}}</a>
										</li>

									</ul>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<label>Latitud</label>
									<input type="text" class="form-control" [ngClass]="setCssColor()" [disabled]="!editionEnable" placeholder="Latitud" [(ngModel)]="locationDetail.lat"
									/>

								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<label>Longitud</label>
									<input type="text" class="form-control" [ngClass]="setCssColor()" [disabled]="!editionEnable" placeholder="Longitud" [(ngModel)]="locationDetail.lon"
									/>
								</div>
							</div>

							<div class="form-group">
								<label>Usuario de Facebook</label>
								<input type="text" class="form-control" [ngClass]="setCssColor()" [disabled]="!editionEnable" placeholder="Usuario de Facebook" [(ngModel)]="locationDetail.facebook"
								/>
							</div>

							<div class="form-group">
								<label>Usuario de Twitter</label>
								<input type="text" class="form-control" [ngClass]="setCssColor()" [disabled]="!editionEnable" placeholder="Usuario de Twitter" [(ngModel)]="locationDetail.twitter"
								/>
							</div>

							<div class="form-group">
								<label>URL Oficial</label>
								<input type="text" class="form-control" [ngClass]="setCssColor()" [disabled]="!editionEnable" placeholder="URL Oficial" [(ngModel)]="locationDetail.webOficial"
								/>
							</div>

							<div class="form-group">
								<label>Flickr</label>
								<input type="text" class="form-control" [ngClass]="setCssColor()" [disabled]="!editionEnable" placeholder="Flickr" [(ngModel)]="locationDetail.flickr"
								/>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="form-group">
									<label>Empleo INEGI</label>
									<input type="text" class="form-control" [ngClass]="setCssColor()" [disabled]="!editionEnable" placeholder="Empleo INEGI" [(ngModel)]="locationDetail.inegi"
									/>
								</div>

								<div class="form-group">
									<label>Búsqueda Busbuster</label>
									<input type="text" class="form-control" [ngClass]="setCssColor()" [disabled]="!editionEnable" placeholder="Búsqueda Busbuster" [(ngModel)]="locationDetail.busbuster"
									/>
								</div>

								<div class="form-group">
									<label>Búsqueda MiEscape</label>
									<input type="text" class="form-control" [ngClass]="setCssColor()" [disabled]="!editionEnable" placeholder="Búsqueda MiEscape" [(ngModel)]="locationDetail.miescape"
									/>
								</div>

								<div class="form-group">
									<label>Búsqueda Kayak</label>
									<input type="text" class="form-control" [ngClass]="setCssColor()" [disabled]="!editionEnable" [(ngModel)]="locationDetail.kayak" placeholder="Búsqueda Kayak"
									/>
								</div>

								<div class="form-group">
									<label>Búsqueda Trivago</label>
									<input type="text" class="form-control" [ngClass]="setCssColor()" [(ngModel)]="locationDetail.trivago" [disabled]="!editionEnable" placeholder="Búsqueda Trivago"
									/>
								</div>

								<div class="form-group">
									<label><input type="checkbox"  [checked]="locationDetail.ambiguo" [disabled]="!editionEnable"> Ambiguo</label>
									<label><input type="checkbox"  [checked]="locationDetail.activo" [disabled]="!editionEnable"> Activo</label>
								</div>


								<div class="form-group">
									<label for="comment">Destinos Blablacar:</label>
									<textarea class="form-control" rows="5" [(ngModel)]="blablacar" [ngClass]="setCssColor()" [disabled]="!editionEnable"></textarea>
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-6">




								<div class="form-group">
									<label>Búsqueda Youtube</label>
									<input type="text" class="form-control" [ngClass]="setCssColor()" [(ngModel)]="locationDetail.youtube" [disabled]="!editionEnable" placeholder="Búsqueda Youtube"
									/>
								</div>

								<div class="form-group">
									<label>Búsqueda Instagram</label>
									<input type="text" class="form-control" [ngClass]="setCssColor()" [(ngModel)]="locationDetail.instagram" [disabled]="!editionEnable" placeholder="Búsqueda Instagram"
									/>
								</div>

								<div class="form-group">
									<label>Búsqueda Bestday</label>
									<input type="text" class="form-control" [ngClass]="setCssColor()" [(ngModel)]="locationDetail.bestday" [disabled]="!editionEnable" placeholder="Búsqueda Bestday"
									/>
								</div>

								<div class="form-group">
									<label for="comment">Destinos Busbuster:</label>
									<textarea class="form-control" rows="5" [ngClass]="setCssColor()" [(ngModel)]="busbuster" [disabled]="!editionEnable"></textarea>
								</div>

								<div class="form-group">
									<label for="comment">Destinos Miescape:</label>
									<textarea class="form-control" rows="5" [ngClass]="setCssColor()" [(ngModel)]="miescape" [disabled]="!editionEnable"></textarea>
								</div>



							</div>
							<div class="col-lg-12 col-md-12 col-xs-12" style="margin-bottom: 5px">
								<button type="button" class="btn btn-success btn-lg" style="margin-top: 10px" [disabled]="!editionEnable" data-toggle="modal"
									data-target="#modalConfirm">Guardar</button>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>

	<!-- Modal -->
	<div class="modal fade" id="modalConfirm" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body" style="background-color: #e3e3e3; border-radius: 10px;">
					<p style="text-align: center">Seguro de que quieres realizar cambios?
					</p>
					<div class="center">
						<button (click)="saveConfig()" type="button" class="btn-style btn btn-success" style="border-radius:15px" data-dismiss="modal" style="margin-right:10px">
                            Si</button>
						<button type="button" class="btn-style btn btn-success" style="border-radius:15px" data-dismiss="modal">No</button>
					</div>
				</div>

			</div>

		</div>
	</div>