<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

<div>

	<div class="row">


		<div class="col-lg-12 col-md-12 col-sm-12" [ngClass]="setCssColor()">

			<table id="Indicadores" class="ind-style">
				<!--Encabezados -->
				<thead [ngClass]="setCssColor()">
					<tr>
						<th [hidden]="!showHistorial" style="min-width:212.667px">
							<div class="pozo pozo-sm" style="height: 80px;">
								<h4 style="margin-top:13px">Destinos
									<div style="float: right;">

										<button class="btn btn-success btn-xs" type="button" (click)="filter=undefined;" [disabled]="!showHistorial">
											 <i aria-hidden="true" class="fa fa-times  fa-lg" style="height: 18px; width: 18px;"></i>
					 
											</button>

										<button class="btn btn-success btn-xs" type="button" (click)="filter=2;" [disabled]="!showHistorial">
												<img
							src="./resources/img/p.png"
							style=" height: 18px; width: 18px;"> 
											</button>
										<button class="btn btn-success btn-xs" type="button" (click)="filter=1" [disabled]="!showHistorial">
												<img
							src="./resources/img/m.png"
							style=" height: 18px; width: 18px;"> 
											</button>
										<button class="btn btn-success btn-xs" type="button" (click)="filter=3" [disabled]="!showHistorial">
												<img
							src="./resources/img/c.png"
							style=" height: 18px; width: 18px;"> 
											</button>
									</div>

								</h4>


							</div>

						</th>
						<th [hidden]="!showHistorial">&nbsp;</th>
						<!-- espacio -->
						<th attr.colSpan="{{colSpan}}">
							<div class="pozo pozo-sm" style="height: 80px;min-width:841.333px">

								<div style="float: left" class="col-md-5 filter" style="float: left;margin-top:0px;">
									<h4>
										Indicadores
										<button type="button" [ngClass]="activate()" (click)="modoDatos()" [disabled]="!showHistorial">Modo
											Datos</button>
										<button type="button" class="btn btn-success  btn-sm" (click)="toggle()">Historial</button>

									</h4>


								</div>


								<div style="float: right" class="col-md-7 filter" style="margin-top:13px" [hidden]="!showHistorial">

									<button (click)="refresh()" class="btn btn-success  btn-xs" type="button" style="float: right; margin-left: 5px;cursor:pointer"> 
											<i aria-hidden="true" class="fa fa-repeat  fa-lg"></i></button>
									<button (click)="fnExcelReport()" class="btn btn-success  btn-xs" type="button" style="float: right; margin-left: 5px;cursor:pointer"> 
											<i aria-hidden="true" class="fa fa-download fa-lg"></i></button>
									<button (click)="sendQuery()" class="btn btn-success  btn-xs" type="button" style="float: right; margin-left: 5px;cursor:pointer"> 
											<i aria-hidden="true" class="fa fa-arrow-circle-right fa-lg"></i></button>



									<div class="col-md-4" style="float: right">

										<my-date-picker name="mydate" placeholder="Fecha final" [(options)]="optionsFechaFinal" (dateChanged)="onDateChanged($event,1)"
										 required></my-date-picker>

									</div>

									<div class="col-md-4" style="float: right">

										<my-date-picker name="mydate2" placeholder="Fecha inicial" [(options)]="optionsFechaInicial" (dateChanged)="onDateChanged($event,0)"
										 required></my-date-picker>

									</div>


								</div>

								<!-- dropdown subindicadores-->
								<div style="float: right" class="col-md-7 filter" style="margin-top:13px" [hidden]="showHistorial">

									<div class="dropup col-md-3">
										<button class="btn btn-md btn-success dropdown-toggle" type="button" data-toggle="dropdown">Indicadores
									<span class="caret"></span></button>
										<ul class="dropdown-menu" style="max-height:140px; overflow:auto;">

											<li class="dropdown-header">Subindicadores Oferta</li>
											<li *ngFor="let li of tabOferta">
												<a (click)="setSubIndicador(li,0)">{{li}}</a>

											</li>
											<li class="divider"></li>

											<li class="dropdown-header">Subindicadores Demanda</li>
											<li *ngFor="let li of tabDemanda"><a (click)="setSubIndicador(li,1)">{{li}}</a></li>
											<li class="divider"></li>


											<li class="dropdown-header">Subindicadores Seguridad</li>
											<li *ngFor="let li of tabSeguridad"><a (click)="setSubIndicador(li,2)">{{li}}</a></li>
											<li class="divider"></li>


											<li class="dropdown-header">Subindicadores Accesibilidad</li>
											<li *ngFor="let li of tabAccess"><a (click)="setSubIndicador(li,3)">{{li}}</a></li>
											<li class="divider"></li>


											<li class="dropdown-header">Subindicadores Comunidad</li>
											<li *ngFor="let li of tabComunidad"><a (click)="setSubIndicador(li,4)">{{li}}</a></li>
											<li class="divider"></li>


											<li class="dropdown-header">Subindicadores Mercadotécnia</li>
											<li *ngFor="let li of tabMercadotecnia"><a (click)="setSubIndicador(li,5)">{{li}}</a></li>
											<li class="divider"></li>


											<li><a (click)="setSubIndicador('general',6)">general</a></li>



										</ul>
 
									</div>

									<div class="col-md-2">

										<button type="button" class="btn btn-success" data-toggle="collapse" data-target="#selector">Destinos</button>


									</div>

									<div id="selector" class="collapse col-md-4">
											<div class="form-group">

												<label for="sel1">Seleccione destino(s):</label>
												<select class="form-control" title="Seleccione destinos" [(ngModel)]="selectedDestinos" multiple>
													<option *ngFor="let d of localidades | stringSort" [ngValue]="getName(d)">{{getName(d) |caps}}</option>
											 
													</select>

											</div>
										</div>


								</div>



							</div>
						</th>
						<!--colspan 7  -->
					</tr>
					<!--Encabezados de tabla  -->
					<tr [hidden]="!showHistorial">
						<td>

							<div class="input-group">
								<input type="text" class="form-control" placeholder="Buscador de Destinos" [(ngModel)]="input" /> <span class="input-group-addon"> <i class="fa fa-search"></i>
									</span>
							</div>
						</td>
						<td>&nbsp;</td>
						<th style="width: 123.33px">

							<div class="dropdown center">
								<button class="btn btn-xs btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="border-radius: 10px;">
                                    <i style="color: gray; margin: 5px;" class="fa fa-line-chart  " aria-hidden="true"></i> Oferta <span class="caret"></span>
                                </button>
								<ul class="dropdown-menu">
									<li *ngFor="let li of tabOferta"><a (click)="setChange(li,0)">{{li}}</a>
									</li>

								</ul>
							</div>
							<button (click)="changeOrder(0)" type="button" class="btn btn-xs btn-default dropdown-toggle center" style="border-radius:15px">
                               
								<i *ngIf="ordenarPor.desc[0]" style="margin-right: 5px" class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                                <i *ngIf="!ordenarPor.desc[0]" style="margin-right: 5px" class="fa fa-caret-up fa-lg" aria-hidden="true"></i>
                            </button>
							<div class="center">
								<img [src]="setIcon(tabSelected[0])" data-toggle="tooltip" [title]="setTooltip(tabSelected[0],0)" style="background:#5cb85c; border-radius: 5px;height:35px;width:35px">
								<span class="label label-primary" style="font-size:12px;margin:5px"></span>
							</div>
						</th>

						<th style="width: 123.33px">
							<div class="dropdown center">
								<button class="btn btn-xs btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="border-radius: 10px;">
                                    <i style="color: gray; margin: 5px;" class="fa fa-bar-chart " aria-hidden="true"></i> Demanda <span class="caret"></span>
                                </button>
								<ul class="dropdown-menu">
									<li *ngFor="let li of tabDemanda"><a (click)="setChange(li,1)">{{li}}</a>
									</li>
								</ul>
							</div>
							<button (click)="changeOrder(1)" type="button" class="btn btn-xs btn-default dropdown-toggle center" style="border-radius:15px">
                             
							    <i *ngIf="ordenarPor.desc[1]" style="margin-right: 5px" class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                                <i *ngIf="!ordenarPor.desc[1]" style="margin-right: 5px" class="fa fa-caret-up fa-lg" aria-hidden="true"></i>
                            </button>
							<div class="center">
								<img [src]="setIcon(tabSelected[1])" data-toggle="tooltip" [title]="setTooltip(tabSelected[1],1)" style="background:#5cb85c; border-radius: 5px;height:35px;width:35px">
							</div>
						</th>

						<th style="width: 123.33px">

							<div class="dropdown center">
								<button class="btn btn-xs btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="border-radius: 10px;">
                                    <i style="color: gray; margin: 5px;" class="fa fa-pie-chart " aria-hidden="true"></i> Seguridad <span class="caret"></span>
                                </button>
								<ul class="dropdown-menu">
									<li *ngFor="let li of tabSeguridad"><a (click)="setChange(li,2)">{{li}}</a>
									</li>
								</ul>
							</div>
							<button (click)="changeOrder(2)" type="button" class="btn btn-xs btn-default dropdown-toggle center" style="border-radius:15px">
                               
							    <i *ngIf="ordenarPor.desc[2]" style="margin-right: 5px" class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                                <i *ngIf="!ordenarPor.desc[2]" style="margin-right: 5px" class="fa fa-caret-up fa-lg" aria-hidden="true"></i>
                            </button>
							<div class="center">
								<img [src]="setIcon(tabSelected[2])" data-toggle="tooltip" [title]="setTooltip(tabSelected[2],2)" style="background:#5cb85c; border-radius: 5px;height:35px;width:35px">
							</div>
						</th>

						<th style="width: 123.33px">

							<div class="dropdown center">
								<button class="btn btn-xs btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="border-radius: 10px;">
                                    <i style="color: gray; margin: 5px;" class="fa fa-users " aria-hidden="true"></i> Accesibilidad <span class="caret"></span>
                                </button>
								<ul class="dropdown-menu">
									<li *ngFor="let li of tabAccess"><a (click)="setChange(li,3)">{{li}}</a>
									</li>
								</ul>
							</div>
							<button (click)="changeOrder(3)" type="button" class="btn btn-xs btn-default dropdown-toggle center" style="border-radius:15px">
                              
								<i *ngIf="ordenarPor.desc[3]" style="margin-right: 5px" class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                                <i *ngIf="!ordenarPor.desc[3]" style="margin-right: 5px" class="fa fa-caret-up fa-lg" aria-hidden="true"></i>
                            </button>
							<div class="center">
								<img [src]="setIcon(tabSelected[3])" data-toggle="tooltip" [title]="setTooltip(tabSelected[3],3)" style="background:#5cb85c; border-radius: 5px;height:35px;width:35px">
							</div>
						</th>

						<th style="width: 123.33px">

							<div class="dropdown center">
								<button class="btn btn-xs btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="border-radius: 10px;">
                                    <i style="color: gray; margin: 5px;" class="fa fa-camera " aria-hidden="true"></i> Comunidad <span class="caret"></span>
                                </button>
								<ul class="dropdown-menu">
									<li *ngFor="let li of tabComunidad"><a (click)="setChange(li,4)">{{li}}</a>
									</li>
								</ul>
							</div>
							<button (click)="changeOrder(4)" type="button" class="btn btn-xs btn-default dropdown-toggle center" style="border-radius:15px">
                               
							    <i *ngIf="ordenarPor.desc[4]" style="margin-right: 5px" class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                                <i *ngIf="!ordenarPor.desc[4]" style="margin-right: 5px" class="fa fa-caret-up fa-lg" aria-hidden="true"></i>
                            </button>
							<div class="center">
								<img [src]="setIcon(tabSelected[4])" data-toggle="tooltip" [title]="setTooltip(tabSelected[4],4)" style="background:#5cb85c; border-radius: 5px;height:35px;width:35px">
							</div>
						</th>

						<th style="width: 123.33px">

							<div class="dropdown center">
								<button class="btn btn-xs btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="border-radius: 10px;">
                                    <i style="color: gray; margin: 5px;" class="fa fa-map-marker " aria-hidden="true"></i> Mercadotécnia <span class="caret"></span>
                                </button>
								<ul class="dropdown-menu">
									<li *ngFor="let li of tabMercadotecnia"><a (click)="setChange(li,5)">{{li}}</a>
									</li>
								</ul>
							</div>
							<button (click)="changeOrder(5)" type="button" class="btn btn-xs btn-default dropdown-toggle center" style="border-radius:15px">
                               
							    <i *ngIf="ordenarPor.desc[5]" style="margin-right: 5px" class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                                <i *ngIf="!ordenarPor.desc[5]" style="margin-right: 5px" class="fa fa-caret-up fa-lg" aria-hidden="true"></i>
                            </button>
							<div class="center">
								<img [src]="setIcon(tabSelected[5])" data-toggle="tooltip" [title]="setTooltip(tabSelected[5],5)" style="background:#5cb85c; border-radius: 5px;height:35px;width:35px">
							</div>
						</th>

						<th style="width: 123.33px">

							<div class="dropdown center">
								<button class="btn btn-xs btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="border-radius: 10px;">
                                    <i style="color: gray; margin: 5px;" class="fa fa-list " aria-hidden="true"></i> Promedio <span class="caret"></span>
                                </button>

							</div>
							<button (click)="changeOrder(6)" type="button" class="btn btn-xs btn-default dropdown-toggle center" style="border-radius:15px">
                                <i *ngIf="ordenarPor.desc[6]" style="margin-right: 5px" class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                                <i *ngIf="!ordenarPor.desc[6]" style="margin-right: 5px" class="fa fa-caret-up fa-lg" aria-hidden="true"></i>
                            </button>
							<div class="center">
								<img [src]="setIcon(tabSelected[6])" data-toggle="tooltip" [title]="setTooltip(tabSelected[6],6)" style="background:#5cb85c; border-radius: 5px;height:35px;width:35px">

							</div>
						</th>
					</tr>

				</thead>
				<!--datos angular  -->

				<tr *ngFor="let localidad of destinos| filterItem:input | filterDestino:filter |sortBy:ordenarPor.tab" [hidden]="!showHistorial">

					<td>
						<div style="padding: 10px;">

							<div style="padding: 2px 5px 2px 5px; background-color: #d1d3d4; border-radius: 10px; height: 100%;">
								<h5 class="ng-binding" style="color:#474747;">
									{{localidad.destino | caps}} <span class="label label-color ng-binding" style="float: right;color:white;">{{tipo_localidad[localidad.tipoDestino-1]}} </span>
								</h5>
								<h6 class="ng-binding" style="color:#033836">{{localidad.estado | caps}}</h6>
							</div>

						</div>
					</td>

					<td>&nbsp;</td>

					<td *ngFor="let i of tabSelected" style="width: 123.33px">

						<div class="divIndicador" [ngClass]="changeColor(localidad,i)">
							<p style="color:white" *ngIf="checkNaN(localidad[i])">
								{{prefijo(i)}} {{localidad[i] | number : '1.2-2'}}
								<i style="float: right;color:white;margin-top: 8px;" class="fa fa-info-circle" aria-hidden="true"></i>
							</p>

							<p style="color:white" *ngIf="!checkNaN(localidad[i])">
								N/A
								<i style="float: right;color:white;margin-top: 8px;" class="fa fa-info-circle" aria-hidden="true"></i>
							</p>
						</div>

					</td>
				</tr>
				<!-- Grafica -->
				<tr [hidden]="showHistorial">
					<td colspan="9">
						<div id="chartdiv" style="height:500px"></div>
					</td>
				</tr>
			</table>

		</div>

	</div>
</div>