<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

<div>
	
	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12">



			<div class="row">

				<div class="col-lg-4 col-md-4 col-sm-4">
					<div class="div-well">
						<div class="pozo pozo-sm">
							<h4>
								Mejor Destino Turistico <i style="margin-right: 5px" class="fa fa-check-circle-o fa-lg" aria-hidden="true"></i>
							</h4>
							<p>
								{{BestLocations?.destino | caps}}, {{BestLocations?.estado | caps}} <span class="label label-color">{{tipo_localidad[BestLocations?.tipoDestino-1]}}</span>
							</p>
						</div>
						<div class="center">
							<chart style="margin: 32px 0px 40px 0px;" type="radar" [data]="dataCharts[0]" [options]="options"></chart>
						</div>

						<h4 style="text-align: center; color: lightgray">
							<a (click)="setBestDefault();" style="cursor:pointer">
								<i style="color: lightgray; margin: 5px" class="fa fa-check-circle  fa-2x" aria-hidden="true"></i></a>
							<a (click)="setBestLocationOferta()" style="cursor:pointer">
								<i style="color: lightgray; margin: 5px" class="fa fa-line-chart  fa-2x" aria-hidden="true"></i></a>
							<a (click)="setBestLocationDemanda()" style="cursor:pointer">
								<i style="color: lightgray; margin: 5px" class="fa fa-bar-chart fa-2x" aria-hidden="true"></i></a>
							<a (click)="setBestLocationSeguridad()" style="cursor:pointer">
								<i style="color: lightgray; margin: 5px" class="fa fa-pie-chart fa-2x" aria-hidden="true"></i></a>
							<a (click)="setBestLocationComunidad()" style="cursor:pointer">
								<i style="color: lightgray; margin: 5px" class="fa fa-users fa-2x" aria-hidden="true"></i></a>
							<a (click)="setBestLocationMercadotecnia()" style="cursor:pointer">
								<i style="color: lightgray; margin: 5px" class="fa fa-camera fa-2x" aria-hidden="true"></i></a>
							<a (click)="setBestLocationAccesibilidad()" style="cursor:pointer">
								<i style="color: lightgray; margin: 5px" class="fa fa-map-marker fa-2x" aria-hidden="true"></i></a>
						</h4>
					</div>
				</div>

				<div class="col-lg-8 col-md-8 col-sm-8">
					<!--  -->
					<div class="row">


						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="div-well" style="height:272.4585px" (click)="changeHistorico(carrusel)">
								<div class="pozo pozo-sm">

									<h5>
										<i style="margin-right: 5px" class="fa fa-line-chart  fa-lg" aria-hidden="true"></i>{{encabezadosGraficas[carrusel]}}
									</h5>
									<p>
										{{valoracionesDestino[(carrusel*10)]?.destino | caps}}, {{valoracionesDestino[(carrusel*10)]?.estado | caps}}
										<span
										 class="label label-color">{{tipo_localidad[valoracionesDestino[(carrusel*10)]?.tipoDestino-1]}}</span>
									</p>


								</div>

								<chart style="padding-bottom: 5px;" type="bar" [data]="dataCharts[carrusel+1]" [options]="optionsBar"></chart>

							</div>
						</div>

						<div class="col-lg-12 col-md-1 col-sm-1" style="height:auto">
							<a style="cursor:pointer;float:left" (click)="anteriorCategoria();">
								<i aria-hidden="true" class="fa fa-chevron-circle-left fa-2x" style="color: #5cb85c; margin: 5px"></i></a>

							<a style="cursor:pointer;float:right" (click)="siguienteCategoria();">
								<i aria-hidden="true" class="fa fa-chevron-circle-right fa-2x" style="color: #5cb85c; margin: 5px"></i></a>
						</div>

						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="div-well" style="height:272.4585px" (click)="changeHistorico(carrusel+1)">
								<div class="pozo pozo-sm">

									<h5>
										<i style="margin-right: 5px" class="fa fa-line-chart  fa-lg" aria-hidden="true"></i>{{encabezadosGraficas[carrusel+1]}}
									</h5>
									<p>
										{{valoracionesDestino[(carrusel+1)*10]?.destino | caps}}, {{valoracionesDestino[(carrusel+1)*10]?.estado | caps}}
										<span
										 class="label label-color">{{tipo_localidad[valoracionesDestino[(carrusel+1)*10]?.tipoDestino-1]}}</span>
									</p>


								</div>

								<chart style="padding-bottom: 5px;" type="bar" [data]="dataCharts[carrusel+2]" [options]="optionsBar"></chart>

							</div>
						</div>


					</div>



				</div>


			</div>


			<div class="div-well" style="border-radius: 50px; padding: 10px" [hidden]="!show_historico">

				<div class="center">
					<span class="badge label-color"><h5>Mejores Valorados</h5></span>
				</div>
				<div class="row" style="position: relative;">
					<div class="col-lg-1 col-md-1 col-sm-1" style=" top: 50%;">
						<a (click)="anterior()" style="cursor:pointer;float:left">
							<i style="color: indigo; margin: 5px" class="fa fa-chevron-left fa-3x" aria-hidden="true"></i></a>
					</div>

					<div class="col-lg-10 col-md-10 col-sm-10" style="padding:20px">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<h5 class="center">
								{{lista_destino[getPos()] | caps}} </h5>
							<chart style="padding:5px;margin:5px;height:250px" type="line" [data]="dataLineCharts[getPos()]" [options]="optionsLine"></chart>

						</div>

					</div>
					<div class="col-lg-1 col-md-1 col-sm-1" style="  top: 50%;">
						<a (click)="siguiente()" style="cursor:pointer;">
							<i style="color: indigo; margin: 5px" class="fa fa-chevron-right fa-3x" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>

		</div>




	</div>