<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<style type="text/css">
#fotos {
	width: 100%;
	height: 575px;
}



#map:-webkit-full-screen {
	width: 100% !important;
	height: 100% !important;
	z-index: 99999;
}

#map:-moz-full-screen {
	width: 100% !important;
	height: 100% !important;
	z-index: 99999;
}

#map:full-screen {
	width: 100% !important;
	height: 100% !important;
	z-index: 99999;
}

.leaflet-pseudo-fullscreen {
	position: fixed !important;
	width: 100% !important;
	height: 100% !important;
	top: 0px !important;
	left: 0px !important;
	z-index: 99999;
}

.fullscreen-icon {
	background-image:
		url("./resources/img/icon-fullscreen.png");
}

.leaflet-retina .fullscreen-icon {
	background-image:
		url("./resources/img/icon-fullscreen-2x.png");
	background-size: 26px 26px;
}

.leaflet-container:-webkit-full-screen {
	width: 100% !important;
	height: 100% !important;
	z-index: 99999;
}

.leaflet-pseudo-fullscreen {
	position: fixed !important;
	width: 100% !important;
	height: 100% !important;
	top: 0px !important;
	left: 0px !important;
	z-index: 99999;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.info h4 {
	margin: 0 0 5px;
	color: #777;
}
</style>

<div>

	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12">
		 

				<div class="row">
					<!--MAPA  -->
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div class="div-well">
							<div class="pozo pozo-sm" style="margin-bottom: 0px">
								<h4>	{{destinoDetails?.destino | caps}}, {{destinoDetails?.estado | caps}}</h4>
								<span class="label label-primary">{{ tipo_localidad[destinoDetails.tipoDestino]}}</span>
								<!--cambiar x angular-->
							</div>
							<!--mapa -->
							<div id="fotos"></div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6">
						<!-- INDICADORES -->
						<div class="row">

							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="div-well">
									<div class="pozo pozo-sm">

										<h4>
											<i style="margin-right: 5px" class="fa fa-line-chart  fa-lg"
												aria-hidden="true"></i>Oferta
										</h4>
									</div>
								<chart style="margin: 32px 0px 40px 0px;" type="radar" [data]="dataCharts[0]" [options]="options"></chart>
					
								</div>

								<div class="div-well">
									<div class="pozo pozo-sm">

										<h4>
											<i style="margin-right: 5px" class="fa fa-pie-chart fa-lg"
												aria-hidden="true"></i>Seguridad
										</h4>
									</div>
										<chart style="margin: 32px 0px 40px 0px;" type="radar" [data]="dataCharts[2]" [options]="options"></chart>
					
								</div>

								<div class="div-well">
									<div class="pozo pozo-sm">

										<h4>
											<i style="margin-right: 5px" class="fa fa-users fa-lg"
												aria-hidden="true"></i>Comunidad
										</h4>
									</div>
									<chart style="margin: 32px 0px 40px 0px;" type="radar" [data]="dataCharts[5]" [options]="options"></chart>
					
								</div>

							</div>



							<div class="col-lg-6 col-md-6 col-sm-6">
								<div class="div-well">
									<div class="pozo pozo-sm">
										<h4>
											<i style="margin-right: 5px" class="fa fa-bar-chart fa-lg"
												aria-hidden="true"></i> Demanda
										</h4>
									</div>
										<chart style="margin: 32px 0px 40px 0px;" type="radar" [data]="dataCharts[1]" [options]="options"></chart>
					
								</div>

								<div class="div-well">
									<div class="pozo pozo-sm">
										<h4>
											<i style="margin-right: 5px" class="fa fa-map-marker fa-lg"
												aria-hidden="true"></i>Accesibilidad
										</h4>
									</div>
									<chart style="margin: 32px 0px 40px 0px;" type="radar" [data]="dataCharts[4]" [options]="options"></chart>
					
								</div>

								<div class="div-well">
									<div class="pozo pozo-sm">
										<h4>
											<i style="margin-right: 5px" class="fa fa-camera fa-lg"
												aria-hidden="true"></i>Mercadotécnia
										</h4>
									</div>
										<chart style="margin: 32px 0px 40px 0px;" type="radar" [data]="dataCharts[3]" [options]="options"></chart>
					
								</div>
							</div>

						</div>

					</div>


				</div>
			 
		 
	</div>
</div>

 
