<nav id="mainNav" class="navbar navbar-default " style="background-color:#e5e5e5">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display  navbar-fixed-top-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only"></span><i class="fa fa-bars"></i>
                </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#portada">Portada</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contenido">Contenido</a>
                </li>
                <li>
                    <a class="page-scroll" href="#hoja1">Hoja 1</a>
                </li>
                <li>
                    <a class="page-scroll" href="#hoja2">Hoja 2</a>
                </li>
                <li>
                    <a class="page-scroll" href="#hoja3">Hoja 3</a>
                </li>
                <li>
                    <a class="page-scroll" href="#conclusion">Conclusión</a>
                </li>
                <li>
                    <a class="btnAlt btn-success btn-xs" onclick="window.print()">
                            Descargar reporte
                        </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div id="seleccion">
    <section id="portada" class="hojainicio">
        <div class="">
            <div class="col-xs-12"><img style="margin:-60px" src="./resources/img/pueblos-magicos-logo.png" class="img-responsive"></div>
            <div class="col-xg-12 ">
                <div class="service-box">
                    <h3 style="font-size: 35px">Documento de reporte de estatus para</h3>
                    <h3 style="font-size: 50px">{{eval.destino | caps}} </h3>
                </div>
            </div>
            <div class="col-xs-11 " style="text-align: right;">
                <br> 
                <h4 style=" color: #000;">Creado {{today}}</h4>
                <h4 style="color: #000;">Autor: cluster@oeste.mx(cluster@oeste.mx)</h4>
            </div>
            
        </div>
    </section>
    <section id="contenido" class="hoja2contenido">
        <div class="">


            <div class="col-xs-2"><img src="./resources/img/sectur_logo.png" class="img-responsive"></div>
            <div class="col-xs-4"><br><img src="./resources/img/points.png" class="img-responsive"></div>
            <div class="col-xs-4"><br><img src="./resources/img/points.png" class="img-responsive"></div>
            <div class="col-xs-2"><img src="./resources/img/sectur_logo.png" class="img-responsive"></div>
            <div class="col-xs-12">
                <div class="col-xs-3 hoja2contenidolist">
                    <h2 class="titulo"> <strong>►</strong> Contenido</h2>
                    <br>
                    <div class="col-xs-4"> </div>
                    <div class="col-xs-8">
                        <h4 class="titulo"><strong>P1</strong> Resumen General</h4>
                        <h4 class="titulo"><strong>P2</strong> Oferta</h4>
                        <h4 class="titulo"><strong>P3</strong> Mercadotecnia</h4>
                        <h4 class="titulo"><strong>P4</strong> Demanda</h4>
                        <h4 class="titulo"><strong>P5</strong> Seguridad</h4>
                        <h4 class="titulo"><strong>P6</strong> Comunidad</h4>
                        <h4 class="titulo"><strong>P7</strong> Accesibilidad</h4>
                        <h4 class="titulo"><strong>P8</strong> Conclusiones</h4>
                    </div>

                </div>
                <div class="col-xs-3"></div>
                <div class="col-xs-6 hoja2contenidointro">
                    <h4 class="titulo"><strong>{{tipo_localidad[eval.tipoDestino]}}</strong></h4>
                    <h2 class="titulo"> {{eval.destino | caps}}</h2>
                    <div class="col-xs-12"></div>
                    <div class="col-xs-6"><img src="./resources/img/destino.png" class="img-responsive"></div>
                    <div class="col-xs-6">

                        <chart class="img-responsive" style="background-color:white ;margin: 32px 0px 40px 0px;height:216.3px;width:259.75px" type="radar" [data]="chartGeneral" [options]="options"></chart>
                    </div>
                    <div class="col-xs-12">
                        <h3 class="titulo">Descripción General</h3>
                    </div>
                    <div class="col-xs-12">
                        <h5 class="titulo">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut porta nisi at dui facilisis, id efficitur eros convallis. Nullam
                            ac arcu convallis, blandit quam eu, venenatis ex. Sed rutrum, velit vitae cursus pulvinar, sem
                            nisl molestie justo, sit amet pellentesque tellus felis vitae nibh. Maecenas porttitor quis quam
                            nec cursus. Ves￾tibulum quis tellus metus. In malesuada lectus purus, sed ornare ante porttitor
                            sit amet. Phasellus posuere, velit sed maximus tempor, velit urna aliquet massa, in pharetra
                            urna sapien ut dui. Sed nulla lacus, pharetra nec cursus at, molestie quis ex. Pellentesque lectus
                            nisl, tempus id luctus id, molestie at lectus. Morbi condimentum leo diam, at dictum sapien ultricies
                            eget. Aliquam erat volutpat. Vivamus sit amet eros eget lorem tempor vestibulum ut at sem. Sed
                            nec erat posuere, ornare lacus nec, ornare magna. Suspendisse nec venenatis mauris. Praesent
                            gravida est ut nulla pharetra vestibulum. Sed eget luctus diam, non iaculis libero.
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-xs-2"><img src="./resources/img/pueblos-logo.png" class=" logoimg-1"></div>
            <div class="col-xs-4"><br><img src="./resources/img/points.png" class="img-responsive"></div>
            <div class="col-xs-4"><br><img src="./resources/img/points.png" class="img-responsive"></div>
            <div class="col-xs-2"><img src="./resources/img/pueblos-logo.png" class="logoimg-1"></div>
        </div>
    </section>

    <section id="hoja1" class="hojasinfo">
        <div class="">
            <div class="col-xs-2"><img src="./resources/img/sectur_logo.png" class="img-responsive"></div>
            <div class="col-xs-4"><br><img src="./resources/img/points.png" class="img-responsive"></div>
            <div class="col-xs-4"><br><img src="./resources/img/points.png" class="img-responsive"></div>
            <div class="col-xs-2"><img src="./resources/img/sectur_logo.png" class="img-responsive"></div>
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <h2 class="titulo">Oferta</h2>
                    <br>
                    <div class="col-xs-6">

                        <div class="pozo pozo-sm" style="margin-bottom: 0px">

                            <p class="titulo center">
                                Componentes de la oferta
                            </p>

                        </div>

                        <chart class="img-responsive" style="background-color:white ;margin: 32px 0px 40px 0px;height:216.3px;width:259.75px" type="radar" [data]="dataCharts[0]" [options]="options"></chart>
                    </div>
                    <div class="col-xs-6">
                        <h4 class="titulo">Diagnóstico</h4>
                        <span *ngFor="let sub  of oferta">
                           <h5 class="titulo">{{subindicadores[sub] +"("+ sub+")"}}</h5>
						
						   <br>
						
						 <p class="paraf">{{ getDescripcion(sub) }}</p> 

						   </span>
                    </div>
                    <div class="col-xs-12"><br><br></div>
                    <div class="col-xs-6">
                        <h4 class="titulo">Recomendaciones</h4>
                        <span *ngFor="let sub  of oferta">
                           <h5 class="titulo">{{subindicadores[sub] + "(" + sub + ")" }}</h5>
						
						   <br>
						
						 <p class="paraf">{{ getRecomendacion(sub) }}</p> 

						   </span>
                    </div>
                    <div class="col-xs-6">
                        
                        <div class="pozo pozo-sm" style="margin-bottom: 0px">

                            <p class="titulo center">
                                Gráfica comparativa contra mejor {{tipo_localidad[eval.tipoDestino]}}
                            </p>

                        </div>

                        <chart class="img-responsive" style="background-color:white ;margin: 32px 0px 40px 0px;height:216.3px;width:259.75px" type="radar" [data]="compCharts[0]" [options]="optionsComp"></chart>
                </div>
                </div>
                <div class="col-xs-6">
                    <h2 class="titulo">Mercadotecnia</h2>
                    <br>
                    <div class="col-xs-6">
                        <div class="pozo pozo-sm" style="margin-bottom: 0px">

                            <p class="titulo center">
                                Componentes de la mercadotecnia
                            </p>

                        </div>
                        <chart class="img-responsive" style="background-color:white ;margin: 32px 0px 40px 0px;height:216.3px;width:259.75px" type="radar" [data]="dataCharts[4]" [options]="options"></chart>
                    </div>
                    <div class="col-xs-6">
                        <h4 class="titulo">Diagnóstico</h4>
                        <span *ngFor="let sub  of mercadotecnia">
                           <h5 class="titulo">{{subindicadores[sub] +"("+ sub+")"}}</h5>
						
						   <br>
						
						 <p class="paraf">{{ getDescripcion(sub) }}</p> 

						   </span>
                    </div>
                    <div class="col-xs-12"><br></div>
                    <div class="col-xs-6">
                        <h4 class="titulo">Recomendaciones</h4>
                        <span *ngFor="let sub  of mercadotecnia">
                           <h5 class="titulo">{{subindicadores[sub] +"("+ sub+")"}}</h5>
						
						   <br>
						
						 <p class="paraf">{{ getRecomendacion(sub) }}</p> 

						   </span>
                    </div>
                    <div class="col-xs-6"> <div class="pozo pozo-sm" style="margin-bottom: 0px">

                            <p class="titulo center">
                                Gráfica comparativa contra mejor {{tipo_localidad[eval.tipoDestino]}}
                            </p>

                        </div>

                        <chart class="img-responsive" style="background-color:white ;margin: 32px 0px 40px 0px;height:216.3px;width:259.75px" type="radar" [data]="compCharts[4]" [options]="optionsComp"></chart>
             </div>
                </div>
            </div>
            <div class="col-xs-2"><img src="./resources/img/pueblos-logo.png" class=" logoimg-1"></div>
            <div class="col-xs-4"><br><img src="./resources/img/points.png" class="img-responsive"></div>
            <div class="col-xs-4"><br><img src="./resources/img/points.png" class="img-responsive"></div>
            <div class="col-xs-2"><img src="./resources/img/pueblos-logo.png" class="logoimg-1"></div>
        </div>
    </section>

    <section id="hoja2" class="hojasinfo">
        <div class="">
            <div class="col-xs-2"><img src="./resources/img/sectur_logo.png" class="img-responsive"></div>
            <div class="col-xs-4"><br><img src="./resources/img/points.png" class="img-responsive"></div>
            <div class="col-xs-4"><br><img src="./resources/img/points.png" class="img-responsive"></div>
            <div class="col-xs-2"><img src="./resources/img/sectur_logo.png" class="img-responsive"></div>
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <h2 class="titulo">Demanda</h2>
                    <br>
                    <div class="col-xs-6">
                        <div class="pozo pozo-sm" style="margin-bottom: 0px">

                            <p class="titulo center">
                                Componentes de la demanda
                            </p>

                        </div>
                        <chart class="img-responsive" style="background-color:white ;margin: 32px 0px 40px 0px;height:216.3px;width:259.75px" type="radar" [data]="dataCharts[1]" [options]="options"></chart>
                    </div>
                    <div class="col-xs-6">
                        <h4 class="titulo">Diagnóstico</h4>
                        <span *ngFor="let sub  of demanda">
                           <h5 class="titulo">{{subindicadores[sub] +"("+ sub+")"}}</h5>
						
						   <br>
						
						 <p class="paraf">{{ getDescripcion(sub) }}</p> 

						   </span>
                    </div>
                    <div class="col-xs-12"><br></div>
                    <div class="col-xs-6">
                        <h4 class="titulo">Recomendaciones</h4>
                        <span *ngFor="let sub  of demanda">
                           <h5 class="titulo">{{subindicadores[sub] +"("+ sub+")"}}</h5>
						
						   <br>
						
						 <p class="paraf">{{ getRecomendacion(sub) }}</p> 

						   </span>
                    </div>
                    <div class="col-xs-6"> <div class="pozo pozo-sm" style="margin-bottom: 0px">

                            <p class="titulo center">
                                Gráfica comparativa contra mejor {{tipo_localidad[eval.tipoDestino]}}
                            </p>

                        </div>

                        <chart class="img-responsive" style="background-color:white ;margin: 32px 0px 40px 0px;height:216.3px;width:259.75px" type="radar" [data]="compCharts[1]" [options]="optionsComp"></chart>
             </div>
                </div>
                <div class="col-xs-6">
                    <h2 class="titulo">Seguridad</h2>
                    <br>
                    <div class="col-xs-6">
                        <div class="pozo pozo-sm" style="margin-bottom: 0px">

                            <p class="titulo center">
                                Componentes de la seguridad
                            </p>

                        </div>
                        <chart class="img-responsive" style="background-color:white ;margin: 32px 0px 40px 0px;height:216.3px;width:259.75px" type="radar" [data]="dataCharts[2]" [options]="options"></chart>
                    </div>
                    <div class="col-xs-6">
                        <h4 class="titulo">Diagnóstico</h4>
                        <span *ngFor="let sub  of seguridad">
                           <h5 class="titulo">{{subindicadores[sub] +"("+ sub+")"}}</h5>
						
						   <br>
						
						 <p class="paraf">{{ getDescripcion(sub) }}</p> 

						   </span>
                    </div>
                    <div class="col-xs-12"><br></div>
                    <div class="col-xs-6">
                        <h4 class="titulo">Recomendaciones</h4>
                        <span *ngFor="let sub  of seguridad">
                           <h5 class="titulo">{{subindicadores[sub] +"("+ sub+")"}}</h5>
						
						   <br>
						
						 <p class="paraf">{{ getRecomendacion(sub) }}</p> 

						   </span>
                    </div>
                    <div class="col-xs-6"> <div class="pozo pozo-sm" style="margin-bottom: 0px">

                            <p class="titulo center">
                                Gráfica comparativa contra mejor {{tipo_localidad[eval.tipoDestino]}}
                            </p>

                        </div>

                        <chart class="img-responsive" style="background-color:white ;margin: 32px 0px 40px 0px;height:216.3px;width:259.75px" type="radar" [data]="compCharts[2]" [options]="optionsComp"></chart>
            </div>
                </div>
            </div>
            <div class="col-xs-2"><img src="./resources/img/pueblos-logo.png" class=" logoimg-1"></div>
            <div class="col-xs-4"><br><img src="./resources/img/points.png" class="img-responsive"></div>
            <div class="col-xs-4"><br><img src="./resources/img/points.png" class="img-responsive"></div>
            <div class="col-xs-2"><img src="./resources/img/pueblos-logo.png" class="logoimg-1"></div>
        </div>
    </section>

    <section id="hoja3" class="hojasinfo">
        <div class="">
            <div class="col-xs-2"><img src="./resources/img/sectur_logo.png" class="img-responsive"></div>
            <div class="col-xs-4"><br><img src="./resources/img/points.png" class="img-responsive"></div>
            <div class="col-xs-4"><br><img src="./resources/img/points.png" class="img-responsive"></div>
            <div class="col-xs-2"><img src="./resources/img/sectur_logo.png" class="img-responsive"></div>
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <h2 class="titulo">Comunidad</h2>
                    <br>
                    <div class="col-xs-6">
                        <div class="pozo pozo-sm" style="margin-bottom: 0px">

                            <p class="titulo center">
                                Componentes de la comunidad
                            </p>

                        </div>
                        <chart class="img-responsive" style="background-color:white ;margin: 32px 0px 40px 0px;height:216.3px;width:259.75px" type="radar" [data]="dataCharts[3]" [options]="options"></chart>
                    </div>
                    <div class="col-xs-6">
                        <h4 class="titulo">Diagnóstico</h4>
                        <span *ngFor="let sub  of comunidad">
                           <h5 class="titulo">{{subindicadores[sub] +"("+ sub+")"}}</h5>
						
						   <br>
						
						 <p class="paraf">{{ getDescripcion(sub) }}</p> 

						   </span>
                    </div>
                    <div class="col-xs-12"><br></div>
                    <div class="col-xs-6">
                        <h4 class="titulo">Recomendaciones</h4>
                        <span *ngFor="let sub  of comunidad">
                           <h5 class="titulo">{{subindicadores[sub] +"("+ sub+")"}}</h5>
						
						   <br>
						
						 <p class="paraf">{{ getRecomendacion(sub) }}</p> 

						   </span>
                    </div>
                    <div class="col-xs-6"><div class="pozo pozo-sm" style="margin-bottom: 0px">

                            <p class="titulo center">
                                Gráfica comparativa contra mejor {{tipo_localidad[eval.tipoDestino]}}
                            </p>

                        </div>

                        <chart class="img-responsive" style="background-color:white ;margin: 32px 0px 40px 0px;height:216.3px;width:259.75px" type="radar" [data]="compCharts[3]" [options]="optionsComp"></chart>
      
                         </div>
                </div>
                <div class="col-xs-6">
                    <h2 class="titulo">Accesibilidad</h2>
                    <br>
                    <div class="col-xs-6">
                        <div class="pozo pozo-sm" style="margin-bottom: 0px">

                            <p class="titulo center">
                                Componentes de la accesibilidad
                            </p>

                        </div>
                        <chart class="img-responsive" style="background-color:white ;margin: 32px 0px 40px 0px;height:216.3px;width:259.75px" type="radar" [data]="dataCharts[5]" [options]="options"></chart>
                    </div>
                    <div class="col-xs-6">
                        <h4 class="titulo">Diagnóstico</h4>
                        <span *ngFor="let sub  of accesibilidad">
                           <h5 class="titulo">{{subindicadores[sub] +"("+ sub+")"}}</h5>
						
						   <br>
						
						 <p class="paraf">{{ getDescripcion(sub) }}</p> 

						   </span>
                    </div>
                    <div class="col-xs-12"><br></div>
                    <div class="col-xs-6">
                        <h4 class="titulo">Recomendaciones</h4>
                        <span *ngFor="let sub  of accesibilidad">
                           <h5 class="titulo">{{subindicadores[sub] +"("+ sub+")"}}</h5>
						
						   <br>
						
						 <p class="paraf">{{ getRecomendacion(sub) }}</p> 

						   </span>
                    </div>
                    <div class="col-xs-6"> <div class="pozo pozo-sm" style="margin-bottom: 0px">

                            <p class="titulo center">
                                Gráfica comparativa contra mejor {{tipo_localidad[eval.tipoDestino]}}
                            </p>

                        </div>

                        <chart class="img-responsive" style="background-color:white ;margin: 32px 0px 40px 0px;height:216.3px;width:259.75px" type="radar" [data]="compCharts[5]" [options]="optionsComp"></chart>
             </div>
                </div>
            </div>
            <div class="col-xs-2"><img src="./resources/img/pueblos-logo.png" class=" logoimg-1"></div>
            <div class="col-xs-4"><br><img src="./resources/img/points.png" class="img-responsive"></div>
            <div class="col-xs-4"><br><img src="./resources/img/points.png" class="img-responsive"></div>
            <div class="col-xs-2"><img src="./resources/img/pueblos-logo.png" class="logoimg-1"></div>
        </div>
    </section>


    <section id="portada" class="hojainicio">
        <div class="">
            <div class="col-xs-2">
                <img src="./resources/img/sectur_logo.png" class="img-responsive">
            </div>
            <div class="col-xs-10"><img src="./resources/img/points.png" class="img-responsive"></div>
            <div class="col-xs-12"><br></div>
            <div class="col-xs-6">
                <h2 class="titulo">Conclusiones</h2>
                <h5 class="titulo">
                    Lorem ipsum dolor sit amet, consectetur adipisc￾ing elit. Ut porta nisi at dui facilisis, id efficitur eros convallis. Nullam
                    ac arcu convallis, blandit quam eu, venenatis ex. Sed rutrum, velit vitae cursus pulvinar, sem nisl molestie
                    justo, sit amet pellen￾tesque tellus felis vitae nibh. Maecenas porttitor quis quam nec cursus. Vestibulum
                    quis tellus metus. In malesuada lectus purus, sed ornare ante porttitor sit amet. Phasellus posuere,
                    velit sed maximus tempor, velit urna aliquet massa, in pharetra urna sapien ut dui. Sed nulla lacus,
                    phare￾tra nec cursus at, molestie quis ex. Pellentesque lectus nisl, tempus id luctus id, molestie at
                    lectus. Morbi condimentum leo diam, at dictum sapien ultricies eget. Aliquam erat volutpat. Vivamus sit
                    amet eros eget lorem tempor vestibulum ut at sem. Sed nec erat posuere, ornare lacus nec, ornare magna.
                    Suspendisse nec venenatis mauris. Praesent gravida est ut nulla pharetra vestibulum. Sed eget luctus
                    diam, non iaculis libero
                </h5>
            </div>
            <div class="col-xs-6">
                <img src="./resources/img/blank.png" width="300" class="img-responsive">
            </div>
            <div class="col-xs-12"><br></div>
            <div class="col-xs-6">
                <img src="./resources/img/blank.png" width="300" class="img-responsive">
            </div>
            <div class="col-xs-6">
                <img src="./resources/img/blank.png" width="300" class="img-responsive">
            </div>
        </div>
    </section>
</div>