<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">


<div>

	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="row">

				<div class="col-lg-7 col-md-7 col-sm-7">
					<div class="div-well">
						<div class="pozo pozo-sm">

							<h4>
								<i style="margin-right: 5px" class="fa fa-h-square  fa-lg" aria-hidden="true"></i>Hoteles

								<div style="float:right">
									<a (click)="hotelCategorySelector=0;" class="btn btn-success btn-xs" data-toggle="tooltip" title="Hoteles sin categoria">
										<i style="color: white; margin: 5px" class="fa fa-times" aria-hidden="true"></i></a>
									<a (click)="hotelCategorySelector=1;" class="btn btn-success btn-xs" data-toggle="tooltip" title="Hoteles de 1 estrella">
										<img src="./resources/img/iconos/1.png" style="height:22px;padding:1px">
									</a>
									<a (click)="hotelCategorySelector=2;" class="btn btn-success btn-xs" data-toggle="tooltip" title="Hoteles de 2 estrellas">
									<img src="./resources/img/iconos/2.png" style="height:22px;padding:1px">
									</a>
									<a (click)="hotelCategorySelector=3;" class="btn btn-success btn-xs" data-toggle="tooltip" title="Hoteles de 3 estrellas">
									<img src="./resources/img/iconos/3.png" style="height:22px;padding:1px">
									</a>
									<a (click)="hotelCategorySelector=4;" class="btn btn-success btn-xs" data-toggle="tooltip" title="Hoteles de 4 estrellas">
									<img src="./resources/img/iconos/4.png" style="height:22px;padding:1px">
									</a>
									<a (click)="hotelCategorySelector=5;" class="btn btn-success btn-xs" data-toggle="tooltip" title="Hoteles de 5 estrellas">
									<img src="./resources/img/iconos/5.png" style="height:22px;padding:1px">
									</a>

								</div>

							</h4>

						</div>
						<!--  -->
						<div>
							<h4 style="margin:10px" class="center">Precios de Hoteles</h4>
							<chart style="padding-bottom: 5px;" type="bar" [data]="precioHotelChart" [options]="optionsBar"></chart>
							<h4 style="margin:10px" class="center">{{categoriaHotel[hotelCategorySelector]}}</h4>
							<chart type="line" [data]="historicoHotelChart[hotelCategorySelector]" [options]="optionsLine"></chart>

						</div>

					</div>

				</div>


				<div class="col-lg-5 col-md-5 col-sm-5">
					<div class="div-well">
						<div class="pozo pozo-sm">

							<h4>
								<i style="margin-right: 5px" class="fa fa-bar-chart  fa-lg" aria-hidden="true"></i> Evaluación Hoteles
							</h4>

						</div>
						<!--  -->
						<chart style="padding-bottom: 5px;" type="radar" [data]="evalHotelChart[hotelCategorySelector]" [options]="optionsRadar"></chart>


					</div>

				</div>
			</div>
			<div class="row">

				<div class="col-lg-7 col-md-7 col-sm-7" style="height: 310px; padding: 5px">
					<div class="div-well">
						<div class="pozo pozo-sm">

							<h4>
								<i style="margin-right: 5px" class="fa fa-cutlery fa-lg" aria-hidden="true"></i>Restaurantes

								<div style="float:right">

									<a (click)="restCategorySelector=0;" class="btn btn-success btn-xs" data-toggle="tooltip" title="Restaurantes sin categoria">
										<i style="color: white; " class="fa fa-times" aria-hidden="true"></i></a>

									<a (click)="restCategorySelector=1;" class="btn btn-success btn-xs" data-toggle="tooltip" title="Restaurantes ecónomicos">
										<i style="color: white; " class="fa fa-usd" aria-hidden="true"></i></a>

									<a (click)="restCategorySelector=2;" class="btn btn-success btn-xs" data-toggle="tooltip" title="Restaurantes gama media">
										<i style="color: white;" class="fa fa-usd" aria-hidden="true"></i>
										<i style="color: white;" class="fa fa-usd" aria-hidden="true"></i>
									</a>
									<a (click)="restCategorySelector=3;" class="btn btn-success btn-xs" data-toggle="tooltip" title="Restaurantes elegantes">
										<i style="color: white;" class="fa fa-usd" aria-hidden="true"></i>
										<i style="color: white;" class="fa fa-usd" aria-hidden="true"></i>
										<i style="color: white;" class="fa fa-usd" aria-hidden="true"></i>
									</a>

								</div>
							</h4>

						</div>
						<!--  -->
						<div>

							<h4 style="margin:10px" class="center">Precios de Restaurantes</h4>
							<chart style="padding-bottom: 5px;" type="bar" [data]="precioRestChart" [options]="optionsBar"></chart>
							<h4 style="margin:10px" class="center">{{categoriaRest[restCategorySelector]}}</h4>
							<chart type="line" [data]="historicoRestChart[restCategorySelector]" [options]="optionsLine"></chart>

						</div>
					</div>

				</div>

				<div class="col-lg-5 col-md-5 col-sm-5">
					<div class="div-well">
						<div class="pozo pozo-sm">

							<h4>
								<i style="margin-right: 5px" class="fa fa-bar-chart  fa-lg" aria-hidden="true"></i> Evaluación Restaurantes
							</h4>
						</div>
						<!--  -->
						<chart style="padding-bottom: 5px;" type="radar" [data]="evalRestChart[restCategorySelector]" [options]="optionsRadar"></chart>


					</div>

				</div>
			</div>


		</div>
	</div>




</div>