<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

<div>

	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="x_panel">
				<div class="x_title">
					<div class="row">
						<div class="col-md-6"></div>

						<div class="clearfix"></div>
					</div>
				</div>

				<div class="row">

					<div class="col-lg-5 col-md-5 col-sm-5" style="height:364.35px; overflow-y:auto">
						<table class="table table-style">
							<tr>
								<th>Usuarios</th>
								<th>Rol</th>
								<th><a (click)="deleteConfirm()" data-toggle="modal" data-target="#modalConfirm">Eliminar</a></th>
								<th>
									<a (click)="agregarUser()">
										<!-- Agregar --><i style="margin-right: 5px" class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
									</a>
								</th>
							</tr>
							<tr *ngFor="let user of usuarios;let i = index">
								<td>
									{{user.usuario}}
								</td>
								<td>
										{{rolList[getRol(user.rol)]}}
								</td>
								<td><input (click)="selectUser(i)" type="checkbox"></td>
								<td>
									<div (click)="editUser(user)">
										<a style="float: right">
											<!-- BOTON EDITAR  --><i style="margin-right: 5px" class="fa fa-pencil fa-lg" aria-hidden="true"></i>
										</a>
									</div>
								</td>
							</tr>
						</table>
					</div>

					<div class="col-lg-5 col-md-5 col-sm-5">
						<div class="div-well" style="padding:15px">
							<div class="form-group">
								<label>Nombre</label>
								<input type="text" class="form-control"  [ngClass]="setCssColor()"  [disabled]="!editionEnable" placeholder="Nombre" [(ngModel)]="usuarioDetail.nombre"
								/>
							</div>

							<div class="form-group">
								<label>Usuario</label>
								<input type="text" class="form-control" [ngClass]="setCssColor()" [disabled]="!editionEnable" placeholder="Usuario" [(ngModel)]="usuarioDetail.usuario"
								/>
							</div>
							<div class="form-group">
								<label>Contraseña</label>
								<input type="text" class="form-control" [ngClass]="setCssColor()" [disabled]="!editionEnable" placeholder="Contraseña" [(ngModel)]="usuarioDetail.password"
								/>
							</div>

							<div class="dropdown">
								<label>Rol</label>
								<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" [disabled]="!editionEnable">
									 
									{{ rolList[index] }}
									<span class="caret"></span></button>
								<ul class="dropdown-menu">
									<li>
									<li *ngFor="let tipo of rolList; let n = index"><a (click)="setType(n)">{{tipo}}</a>
									</li>

								</ul>
							</div>
							<div class="dropdown">
								<button type="button" class="btn btn-success btn-lg" style="margin-top: 10px" [disabled]="!editionEnable" data-toggle="modal"
									data-target="#modalConfirm">Guardar</button>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

</div>

<!-- Modal -->
<div class="modal fade" id="modalConfirm" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-body" style="background-color: #e3e3e3; border-radius: 10px;">
				<p style="text-align: center">Seguro de que quieres realizar cambios?
				</p>
				<div class="center">
					<button (click)="saveUser()" type="button" class="btn-style btn btn-success" style="border-radius:15px" data-dismiss="modal" style="margin-right:10px">
                            Si</button>
					<button type="button" class="btn-style btn btn-success" style="border-radius:15px" data-dismiss="modal">No</button>
				</div>
			</div>

		</div>

	</div>
</div>