<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<style type="text/css">
 

	#origenCity {
		width: 100%;
		height: 300px;
	}

	#origen {
		width: 100%;
		height: 300px;
	}

	#map:-webkit-full-screen {
		width: 100% !important;
		height: 100% !important;
		z-index: 99999;
	}

	#map:-moz-full-screen {
		width: 100% !important;
		height: 100% !important;
		z-index: 99999;
	}

	#map:full-screen {
		width: 100% !important;
		height: 100% !important;
		z-index: 99999;
	}

	.leaflet-pseudo-fullscreen {
		position: fixed !important;
		width: 100% !important;
		height: 100% !important;
		top: 0px !important;
		left: 0px !important;
		z-index: 99999;
	}

	.fullscreen-icon {
		background-image: url("./resources/img/icon-fullscreen.png");
	}

	.leaflet-retina .fullscreen-icon {
		background-image: url("./resources/img/icon-fullscreen-2x.png");
		background-size: 26px 26px;
	}

	.leaflet-container:-webkit-full-screen {
		width: 100% !important;
		height: 100% !important;
		z-index: 99999;
	}

	.leaflet-pseudo-fullscreen {
		position: fixed !important;
		width: 100% !important;
		height: 100% !important;
		top: 0px !important;
		left: 0px !important;
		z-index: 99999;
	}

	.info {
		padding: 6px 8px;
		font: 14px/16px Arial, Helvetica, sans-serif;
		background: white;
		background: rgba(255, 255, 255, 0.8);
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
		border-radius: 5px;
	}

	.info h4 {
		margin: 0 0 5px;
		color: #777;
	}
</style>

<div ng-controller="visitantesController" ng-init="init();">

	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="">


				<div class="row">

					<div class="col-lg-5 col-md-5 col-sm-5">

						<div class="div-well" style="height:377.8px">
							<div class="pozo pozo-sm" style="margin-bottom: 0px">

								<h4>
									<i style="margin-right: 5px" class="fa fa-globe  fa-lg" aria-hidden="true"></i> Origen del visitante por país
								</h4>

							</div>
							<!--  -->
							<div id="origen"></div>
						</div>

		 

						<div class="div-well" style="height:377.8px">
							<div class="pozo pozo-sm" style="margin-bottom: 0px">

								<h4>
									<i style="margin-right: 5px" class="fa fa-plane  fa-lg" aria-hidden="true"></i> Origen del visitante por ciudad
								</h4>

							</div>
							<!--  -->
							<div id="origenCity"></div>
						</div>

					</div>


					<div class="col-lg-4 col-md-4 col-sm-4">

						<div class="div-well">
							<div class="pozo pozo-sm">

								<h4>
									<i style="margin-right: 5px" class="fa fa-user  fa-lg" aria-hidden="true"></i> Edad
								</h4>

							</div>
							<!--  -->

							<chart type="doughnut" [data]="chartAge" [options]="optionsChart"></chart>


						</div>

						<div class="div-well">
							<div class="pozo pozo-sm">

								<h4>
									<i style="margin-right: 5px" class="fa fa-venus-mars  fa-lg" aria-hidden="true"></i> Género
								</h4>

							</div>
					 
							<chart type="doughnut" [data]="chartGender" [options]="optionsChart"></chart>

						</div>

					</div>



					<div class="col-lg-3 col-md-3 col-sm-3" style="height:735.5px">
						<div class="div-well">
							<div class="pozo pozo-sm">

								<h4>
									<i style="margin-right: 5px" class="fa fa-globe fa-lg" aria-hidden="true"></i>Términos más utilizados
								</h4>

							</div>
							<!--  -->
							<div id="cloudWord" style="height:775.6px; width: auto; margin-left: 10%; margin-right: 10%;"></div>
						</div>

					</div>



				</div>
			</div>
		</div>
	</div>